<%- include('partials/header')%>
    <div class="container-fluid login">

        <div style="margin: 0 auto" class="col-12 col-md-6 col-lg-5 p-5 customborder">
            <% if( error!="" ){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>
                        <%= error %>
                    </strong>

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                    <% console.log(error) %>


                        <!-- if someone tried to access a protected route  -->
                        <!-- this flash message will show them to login first  -->
                        <div class=" d-flex justify-content-center align-items-center ca-login ">
                            <form action="/login" class="crd-login shadow  rounded p-3 mb-5 " method="POST">
                                <h3 class="text-center pt-2 text-danger  ">Sign-In</h3>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                <label for="email">Email:</label><br>
                                <input type="email" class="mb-3" name="email" id=""><br>
                                <label for="email" class="">Password:</label><br>
                                <input type="password" class="mb-3" name="password" id=""><br><br>
                                <button type="submit" class="text-center btn btn-primary w-100 ">Login</button>
                            </form>


                        </div>
                        <p class="text-center mt-3">don't have account
                            <a href="/register" class="btn btn-success ">Register</a>
                        </p>


                        <!-- <form action="/login" , method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <div class="mb-3">
                                <label for="username">Enter Your Email</label>
                                <input type="email" class="form-control form-control-lg" name="email" id="username"
                                    placeholder="Email" />
                            </div>
                            <div class="mb-3">
                                <label for="password">Enter Your Password</label>
                                <input type="password" class="form-control form-control-lg" name="password"
                                    id="password" placeholder="Password" />
                            </div>
                            <button type="submit" class="btn btn-success">login</button>
                            <p>don't have account
                                <a href="/register">Register</a>
                            </p>
                        </form> -->
        </div>
    </div>

    <%- include('partials/footer')%>